/ Content Header (Page header)
%section.content-header
  %h1
    DisCoucher Books
    %small All Books in the database
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Level
    %li.active Here

%br
=render "admin/books/table", books: @books #the table that was previously here was extracted to the partial to be DRY. seems like I needed it more than I thought! :-)

-if current_admin && current_admin.is_admin?
  %p=link_to 'New Book', new_book_path, class: "btn btn-primary"