/ Content Header (Page header)
%section.content-header
  %h1
    DisCoucher Books
    %small All Books in the database
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Level
    %li.active Here

%br

.row-fluid
  .col-md-12
    .box.box-danger.collapsed-box
      .box-header.with-border
        %h3.box-title 
        Vists per Establishment (Vouchers redeemed per establishment)
        .box-tools.pull-right
          %button.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
            %i.fa.fa-minus
          / %button.btn.btn-box-tool{"data-widget" => "remove", :type => "button"}
          /   %i.fa.fa-times
      .box-body
        =render "admin/books/chart", books: @books

#partial_page
  =render "admin/books/table", books: @books #the table that was previously here was extracted to the partial to be DRY. seems like I needed it more than I thought! :-)

-if current_admin && current_admin.is_admin?
  %p=link_to 'New Book', new_admin_book_path, class: "btn btn-primary"