// Place all the styles related to the register_books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.login-page {
    background: #156c08;
}

body.show {
	background-color: #156c08;
}
.box.box-default {
	background-color: #156c08;	
}