%section.content-header
  %h1
    DisCoucher #{ @results == nil || @results.size == 0 ? " ": @results.klass.name}
    %small Search Results
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Level
    %li.active Here


%br

%br

-if  @results ==  nil || @results.size == 0
  =render "admin/search/ntable"
-else
  -if @results.klass.name == "Book"
    =render "admin/search/btable", results: @results 
  -elsif @results.klass.name == "Establishment"
    =render "admin/search/etable", results: @results 
  -elsif @results.klass.name == "Voucher"
    =render "admin/search/vtable", results: @results 
  -elsif @results.klass.name == "User"
    =render "admin/search/utable", results: @results 
  -else
/ render error page


    