%section.content-header
  %h1
    DisCoucher Establishments
    %small All stablishments in the database
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Level
    %li.active Here


%br


%br
=render "establishments/table", establishments: @establishments #the table that was previously here was extracted to the partial to be DRY. seems like I needed it more than I thought! :-)

%br
-if current_admin && current_admin.is_admin?
  %p=link_to 'New establishment', new_establishment_path, class: "btn btn-primary"