%section.content-header
	%h1 
		Update Tags for___ #{@voucher.code}
%section.content
	= render 'addtagform'

= link_to 'Show', admin_voucher_path(@voucher), class: "label label-default"
\|
= link_to 'Back', admin_vouchers_path, class: "label label-primary"
