%section.content-header
  %h1
    DisCoucher Vouchers
    %small All Vouchers in the database
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Level
    %li.active Here


%br


%br
=render "admin/vouchers/table", vouchers: @vouchers #the table that was previously here was extracted to the partial to be DRY. seems like I needed it more than I thought! :-)

%br
-if current_admin && current_admin.is_admin?
  %p=link_to 'New voucher', new_admin_voucher_path, class: "btn btn-primary"